# Dependencies
node_modules/

# Next.js Build Output
.next/
out/
build/

# Environment Variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts